.root {
    -fx-font-family: "Arial";
}

.child {
    -fx-font-family: "Comic Sans Ms";
}


.enforced {
    -fx-fill:red;
    -fx-font-weight: bold;
}

.pane-bordered-title {
  -fx-background-color: white;
  -fx-translate-y: -10;
}

.pane-bordered-border {
  -fx-content-display: top;
  -fx-border-insets: 20 15 15 15;
  -fx-background-color: white;
  -fx-border-color: black;
  -fx-border-width: 2;
}

.pane-bordered-content {
  -fx-padding: 26 10 10 10;
}

.list-cell:empty {
    -fx-background-color: white;
}
.networkstatus{
    -fx-border-color: white;
    -fx-border-width: 0px;
}

.noborder {
    -fx-border-color: white;
    -fx-border-width: 0px;
    -fx-focus-color : transparent;
}

.border-test {
    -fx-border-color: blue;
    -fx-border-width: 5px;
}